* {
    box-sizing: border-box;
}

.contenedor {
    display: flex;
    align-items: center;
    width: 80%;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.tarjetas {
    display: flex;
}

.tarjeta {
    min-width: 200px;
    height: 150px;
    margin: 10px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: transform 0.5s ease;
}

button {
    background-color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
}
