:root {
    --color-white: #FFFFFF;
    --color-light-grey: #EBEBEB;
    --color-lighter-grey: #F1F1F1;
    --color-darker-blue: #062E32;
    --color-dark-blue: #16464B;
    --color-lighter-blue: #508285;
    --color-coral: #DD6A6A;
    --color-light-coral: #E79696;
    --color-electric-blue: #44D5E5;
    --color-wine-red: #C50000;

    --color-danger: #D73A49;
    --color-success: #28A745;
    --color-neutral: #DBAB09;
    --color-accent: #478be6;


    --font-main: Verdana, sans-serif;
    --font-secondary: Geneva, sans-serif;

    --border-radius-4: 4px;
    --border-radius-8: 8px;
    --border-radius-16: 16px;
    --border-radius-24: 24px;
    --border-radius-32: 32px;
    --border-radius-50: 50px;
}

/*
@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url("../Fonts/Montserrat.ttf") format('truetype');;
}

@font-face {
    font-family: 'Roboto', sans-serif;
    src: url("../Fonts/Roboto.ttf") format('truetype');
}
*/

@import "tailwindcss";

@plugin "daisyui" {
    themes: light --default;
    root: ":root";
    include:;
    exclude:;
    prefix:;
    logs: true;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    color: var(--color-white);
    background-color: var(--color-dark-blue);
}

body {
    display: flex;
    height: auto;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    flex: 1 1 0;
    align-items: center;
    justify-items: center;
    overflow-X: hidden;
    background-color: var(--color-white);
    background-image: url("http://localhost:80/ProyectoFinalWeb2025/Sitio-Web/public/assets/images/yarnBackgroundTexture.svg");
    background-size: auto;
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
}

header {
    position: sticky;
    z-index: 50;
    display: block;
    width: 100%;
    height: auto;
    top: 0;
}

nav {
    position: relative;
    display: flex;
    height: auto;
    width: auto;
    margin: auto;
    padding: 1.3% 10%;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: var(--color-white);
    justify-content: space-between;
    align-content: center;
    box-shadow: 0 4px 10px rgba(22, 70, 75, 0.35);
    border-bottom: 1rem solid var(--color-electric-blue);
}

.menu-toggle {
    display: none;
}

.search-bar-container-hidden {
    display: none;
    position: absolute;
}

.search-bar-container-visible {
    position: absolute;
    display: flex;
    margin: auto;
    height: 100%;
    width: 100%;
    justify-content: center;
    background-color: var(--color-electric-blue);
    z-index: 75;
    top: 0;
    left: 0;
}

.search-bar-input-container {
    position: relative;
    display: flex;
    height: auto;
    width: 40%;
    margin: auto auto 1rem auto;
    padding: 0.5rem;
    justify-content: center;
    background-color: var(--color-white);
    border-radius: var(--border-radius-16);
}

.search-bar-button {
    display: inline;
    height: 2rem;
    width: auto;
    margin: auto;
    background-color: var(--color-white);
    border-style: none;
    vertical-align: middle;
    cursor: pointer;
    border-radius: var(--border-radius-50);
    transition: transform 0.3s ease-in-out;
}

.close-button {
    display: inline;
    height: 2rem;
    width: auto;
    margin: auto;
    background-color: var(--color-white);
    border-style: none;
    vertical-align: middle;
    border-radius: var(--border-radius-50);
    cursor: pointer;
}

.close-button img,
.search-bar-button img {
    display: inline;
    height: 100%;
    width: 100%;
    margin: auto;
}

.search-bar-input {
    position: relative;
    display: inline;
    height: auto;
    width: 80%;
    padding: 0.5rem;
    border-style: none;
    color: var(--color-darker-blue);
    font-size: 18px;
}
.search-bar-input:hover {
    border-style: none;
    border-radius: var(--border-radius-8);
    box-shadow: 2px 2px 2px var(--color-light-grey);
    cursor: pointer;
}
.search-bar-input:focus {
    outline: none;
    border-style: none;
}

.logo-link {
    display: flex;
    align-items: center;
    justify-items: center;
}

.svg-logo {
    position: relative;
    display: flex;
    flex: 0 1 0;
    height: 8vh;
    width: auto;
    margin: auto;
    align-self: center;
}
.svg-logo:hover {
    opacity: 70%;
    cursor: pointer;
}

.svg-logo img {
    display: inline;
    margin: auto;
    height: inherit;
    width: inherit;
    max-width: inherit;
    max-height: inherit;
    object-fit: cover;
    image-rendering: auto;
}

.nav-button-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex: 0 1 0;
    width: auto;
    justify-content: flex-end;
    gap: 2rem;
}

.menu-button,
.search-button, 
.account-button, 
.cart-button {
    display: flex;
    height: 3rem;
    width: 3rem;
    margin: auto;
    flex: 0 1 3rem;
    background-color: var(--color-white);
    border-style: none;
    border-radius: var(--border-radius-50);
    cursor: pointer;
    align-content: center;
    z-index: 30;
}

.menu-button {
    display: none;
}

.account-button img,
.cart-button img,
.menu-button img,
.search-button img {
    display: block;
    height: 90%;
    width: auto;
    margin: auto;
}

.menu-button:hover,
.search-bar-button:hover,
.close-button:hover,
.account-button:hover,
.cart-button:hover,
.search-button:hover,
.instagram-button:hover,
.youtube-button:hover {
    background-color: var(--color-light-grey);
}

.nav-link-list {
    display: flex;
    overflow: hidden;
    list-style: none;
    flex: 2 1 0;
    margin: auto 0;
    width: fit-content;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
}

.nav-link-sub-list {
    display: none;
    overflow: hidden;
    list-style: none;
    width: inherit;
    flex: inherit;
    justify-items: center;
    align-items: center;
    background-color: var(--color-white);
    border-width: 0 2px 2px 2px;
    border-style: solid;
    border-color: var(--color-light-grey);
    border-radius: var(--border-radius-8);
}

.nav-link-list li {
    display: inline;
    height: auto;
    width: 12rem;
    flex: 0 1 12rem;
    text-align: center;
    align-self: flex-start;
    background-color: var(--color-white);
    transition: background-color 0.2s, color 0.2s;
    border-radius: var(--border-radius-8);
}

.nav-link-sub-list li {
    display: flex;
    text-align: left;
    align-self: flex-start;
    width: 100%;
    flex: 1 1 0;
    background-color: var(--color-white);
    border-width: 2px 0 0 0;
    border-style: solid;
    border-color: var(--color-light-grey);
    border-radius: 0;
    transition: background-color 0.2s, color 0.2s;
}

.nav-link-list li:hover{
    background-color: var(--color-light-grey);
}
.nav-link-sub-list li:hover {
    background-color: var(--color-light-grey);
    cursor: pointer;
}

.nav-link-list li a {
    display: flex;
    padding: 1rem 1.2rem;
    color: var(--color-darker-blue);
    font-size: 1.4rem;
    font-family: var(--font-main);
    justify-content: center;
    cursor: pointer;
}

.nav-link-sub-list li a {
    display: inline-block;
    color: var(--color-dark-blue);
    font-size: 1rem;
    font-weight: bold;
    font-family: var(--font-secondary);
    cursor: pointer;
}
.nav-link-list li a:hover,
.nav-link-sub-list li a:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.08rem;
}
li:hover .nav-link-sub-list {
    /*menú popup que aparece*/
    display: flex;
    position: absolute;
    z-index: 100;
    flex-direction: column;
}

.nav-decoration-line {
    height: 0.3rem;
    width: 100%;
    clear: both;
    background-color: var(--color-white);
}
/*.separation-line {
    height: 1rem;
    width: 100%;
    clear: both;
    background-color: var(--color-white);
}*/

/*-------------SECCIONES-------------*/
.home-info,
.error-info,
.best-selling-art,
.new-art,
.seasonal-art,
.search-art {
    display: flex;
    height: 100%;
    width: 95%;
    margin: 3% auto 1.5% auto;
    flex-direction: column;
    flex: 1 1 0;
    text-align: center;
}

.home-info, .error-info {
    width: 90%;
    margin: 3% auto 0 auto;
}

.home-info a {
    display: flex;
    height: fit-content;
    width: fit-content;
    margin: 2em auto;
}

.search-art {
    margin: 3% auto;
}

.home-title,
.home-subtitle,
.error-title,
.best-selling-art-title,
.new-art-title,
.product-title,
.seasonal-art-title,
.search-art-title,
.search-art-subtitle,
.create-account-fieldset legend,
.login-account-fieldset legend {
    display: flex;
    height: auto;
    margin: auto auto 1em auto;
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
    font-family: var(--font-main);
    color: var(--color-dark-blue);
}

.product-title {
    margin: 2% auto 0 auto;
    width: fit-content;
}

.error-title {
    display: flex;
    width: fit-content;
    margin: 1em auto;
}

.home-title {
    font-size: 2rem;
}

.home-subtitle {
    margin: 1em auto;
}

.search-art-subtitle {
    padding: 0 0 20% 0;
    font-size: 1rem;
}

/*-------------CAROUSEL-------------*/
.best-selling-art-carousel,
.new-art-carousel,
.seasonal-art-carousel, 
.search-art-carousel-visible {
    display: flex;
    width: 100%;
    height: 100%;
    margin: auto;
    flex-direction: row;
    flex: 1 1 0;
    align-items: center;
    justify-content: space-evenly;
    overflow: visible;
}

.search-art-carousel-hidden {
    display: none;
}

.next-element-button-container,
.previous-element-button-container {
    display: flex;
    position: relative;
    height: 15%;
    width: auto;
    margin: auto;
    overflow: visible;
}

.next-element-button,
.previous-element-button {
    height: 100%;
    width: 100%;
    background-color: transparent;
    border-style: none;
    cursor: pointer;
}

.next-element-button::before,
.previous-element-button::before {
    display: flex;
    height: 100%;
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
    font-size: 3.2em;
    font-weight: bold;
    color: var(--color-darker-blue);
}

.previous-element-button::before {
    content: "<";
}

.next-element-button::before {
    content: ">";
}
.next-element-button:hover,
.previous-element-button:hover {
    opacity: 70%;
    cursor: pointer;
}

.best-selling-art-item-container,
.new-art-item-container,
.seasonal-art-item-container,
.search-art-item-container {
    position: relative;
    display: flex;
    overflow-x: hidden;
    /*-webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;*/
    height: 100%;
    width: 100;
    margin: auto;
    padding: 1% 1% 1% 0;
    border-width: 0.5em 1.5em;
    border-style: solid;
    align-items: start;
    flex-direction: row;
    flex: 2 1 0;
    gap: 1.5em;
    justify-content: start;
}

.new-art-item-container,
.search-art-item-container {
    background-color: var(--color-light-grey);
    border-radius: var(--border-radius-24);
    border-color: var(--color-light-grey);
}

.best-selling-art-item-container {
    background-color: var(--color-coral);
    border-radius: var(--border-radius-24);
    border-color: var(--color-coral);
}

.seasonal-art-item-container {
    background-color: var(--color-electric-blue);
    border-radius: var(--border-radius-24);
    border-color: var(--color-electric-blue);
}

/*-------------PRODUCT-------------*/
.art-item {
    position: relative;
    display: flex;
    height: 100%;
    width: 18%;
    max-width: 18%;
    min-width: 18%;
    overflow: visible;
    grid-template-columns: 1fr;
    grid-template-rows: 50% 50%;
    justify-items: center;
    text-align: center;
    padding: 1.5% 1.5% 2.2% 1.5%;
    gap: 0.5rem;
    background-color: var(--color-white);
    border-style: solid;
    border-color: var(--color-dark-blue);
    border-radius: var(--border-radius-16);
}

.image-link {
    display: flex;
    height: fit-content;
    width: fit-content;
    margin: 0 auto;
    flex-direction: column;
    gap: 0.5rem;
}

.art-item-image-container {
    position: relative;
    display: flex;
    height: 15vh;
    width: fit-content;
    margin: auto;
    overflow: hidden;
    border-radius: var(--border-radius-24);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.figure-shadow {
    margin: auto 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);  
}

.art-item-image-container img,
.art-product-image-container img {
    display: inline;
    margin: auto;
    height: inherit;
    width: inherit;
    max-width: inherit;
    max-height: inherit;
    flex: 0 1 0;
    object-fit: cover;
    border-radius: var(--border-radius-24);
    image-rendering: auto;
}
.art-item img:hover {
    opacity: 70%;
    cursor: pointer;
}



.art-desc-container {
    width: 100%;
    max-width: calc(100%);
}

.error-desc,
.home-desc,
.art-desc,
.profile-label {
    position: relative;
    display: flex;
    margin: auto;
    width: auto;
    overflow: visible;
    overflow-wrap: break-word;
    text-align: justify;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: var(--font-secondary);
    color: var(--color-dark-blue);
    cursor: pointer;
}

.error-desc {
    margin: 0 auto 1em auto;
    cursor: auto;
}

.home-desc {
    cursor: auto;
}

.art-price {
    display: flex;
    position: relative;
    margin: auto;
    width: fit-content;
    font-size: 1.2rem;
    font-weight: normal;
    font-family: var(--font-secondary);
    color: var(--color-dark-blue);
    text-align: center;
    cursor: pointer;
}

.art-desc::first-letter,
.art-price::first-letter {
    text-transform: capitalize;
}
.art-desc:hover,
.art-price:hover {
    text-decoration: underline;
    text-decoration-color: var(--color-dark-blue);
    text-decoration-thickness: 0.1rem;
    cursor: pointer;
}

.carousel-indicator {
    margin: auto;
}

/*-------------BANNER-------------*/
.shipping-info-banner {
    display: flex;
    height: fit-content;
    width: 100%;
    padding: 2% 4%;
    margin: auto auto 4% auto;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to bottom, var(--color-wine-red), var(--color-wine-red), var(--color-coral));
    color: var(--color-white);
    font-family: var(--font-secondary);
    font-size: 1.2rem;
    text-align: justify;
    gap: 2%;
}

.info-banner-statement {
    display: flex;
    height: 100%;
    width: fit-content;
    justify-content: center;
}

.return-icon,
.shipping-icon,
.star-review-icon {
    display: flex;
    height: 2.2rem;
    width: auto;
    margin: auto 0.5rem auto 0;
}

.banner-text {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    margin: auto;
}

.return-icon img,
.shipping-icon img,
.star-review-icon img {
    height: auto;
    width: auto;
}

footer {
    height: auto;
    width: 100%;
    max-width: 100%;
    margin: 1.5% auto auto auto;
    background-color: var(--color-white);
}

.footer-links-bar {
    display: flex;
    height: auto;
    width: 100%;
    margin: auto;
    padding: 1.5rem 1rem;
    background-color: var(--color-white);
    border-color: var(--color-lighter-blue);
    border-style: solid;
    border-width: 2px 0 0 0;
    align-items: flex-start;
    justify-content: space-evenly;
}

.about-links-container,
.help-links-container,
.store-links-container {
    display: flex;
    flex-direction: column;
    height: max-content;
    width: auto;
    /*flex: 1 1 0;*/
    justify-content: center;
    align-content: center;
    gap: 1.5rem;
}

.about-links-container h4,
.help-links-container h4,
.store-links-container h4 {
    display: flex;
    width: 100%;
    color: var(--color-darker-blue);
    flex: 1 2 0;
    text-align: left;
    font-size: 1.5rem;
    font-family: var(--font-main);
    line-height: 15px;
    border-bottom-color: var(--color-darker-blue)
}

.about-list,
.help-list,
.store-list {
    display: flex;
    list-style: none;
    width: auto;
    margin: auto 0 auto 0;
    gap: 1rem;
    flex-direction: column;
}

.about-list li,
.help-list li,
.store-list li {
    display: flex;
    flex: 1 1 0;
}

.footer-links-bar ul li a {
    display: flex;
    width: min-content;
    color: var(--color-dark-blue);
    font-size: 1.2rem;
    font-family: var(--font-main);
    line-height: 1.2rem;
    cursor: pointer;
}
.footer-links-bar ul li a:hover {
    text-decoration: underline;
    text-decoration-thickness: 1.2px;
    text-decoration-color: var(--color-darker-blue);
}

.footer-brand-links-bar {
    display: grid;
    height: 100%;
    width: auto;
    margin: auto 0;
    grid-template-rows: 1fr 1.5fr;
    background-color: var(--color-white);
    justify-content: space-between;
    align-items: center;
}

.social-media-links {
    display: flex;
    height: 100%;
    width: 100%;
    margin: auto;
    gap: 1rem;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}

.instagram-button,
.youtube-button {
    display: flex;
    height: 2.2rem;
    width: 2.2rem;
    background-color: var(--color-white);
    border-style: none;
    border-radius: var(--border-radius-50);
    cursor: pointer;
}

.youtube-button {
    border-radius: var(--border-radius-8);
    padding: 0 4px;
}

.youtube-button img {
    height: 100%;
    width: auto;
    margin: auto;
}

.instagram-button a {
    height: 65%;
    width: auto;
    margin: auto;
}

.instagram-button a img {
    height: 100%;
    width: auto;
    margin: auto;
}

.footer-copyright-content {
    display: flex;
    height: auto;
    width: auto;
    padding: 1rem;
    background-color: var(--color-light-grey);
    border-color: var(--color-lighter-blue);
    border-style: solid;
    border-width: 2px 0 0 0;
    text-align: right;
    justify-content: right;
}

.copyright-content {
    color: var(--color-darker-blue);
    font: var(--font-secondary);
    font-size: 1rem;
    width: 100%;
}

.product-section,
.create-account-section,
.login-account-section {
    height: auto;
    width: 100%;
}

.create-product-form,
.create-account-form,
.login-account-form {
    display: flex;
    height: auto;
    width: 28rem;
    margin: 2% auto;
    border-style: none;
    background-color: var(--color-white);
    border-style: solid;
    border-color: var(--color-dark-blue);
    border-width: 2.5px;
    border-radius: var(--border-radius-24);
}

.profile-section {
    flex-direction: column;
    padding: 1em;
    height: 100%;
    width: 38rem;
    max-width: 100%;
    text-align: justify;
}

.product-fieldset,
.create-account-fieldset,
.login-account-fieldset {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    max-width: 100%;
    border-style: none;
    text-align: justify;
}

.create-account-fieldset legend,
.login-account-fieldset legend  {
    z-index: 1;
    margin: auto 5%;
    padding: 15px 10px 10px 0;
    height: auto;
    width: fit-content;
    text-align: justify;
    justify-content: center;
    font-size: 1rem;
}

.create-account-fieldset legend::before {
    content: "🧶";
}

.text-input-container,
.file-input-container, 
.desc-container {
    display: block;
    margin: 10px 5%;
    height: auto;
    width: auto;
    text-align: justify;
}

.action-container {
    display: flex;
    flex-direction: row;
    margin: 10px 5% 5% 5%;
    gap: 1.5rem;
}

.input-label {
    display: flex;
    height: auto;
    width: 100%;
    margin: auto;
    text-align: justify;
    font-size: 16px;
    font-family: var(--font-secondary);
    color: var(--color-dark-blue);
}

.bordered-input {
    display: flex;
    width: 100%;
    margin: 5px 0 0 0;
    padding: 10px;
    border: 1.7px solid var(--color-dark-blue);
    border-radius: var(--border-radius-16);
    font-size: 14px;
    color: var(--color-darker-blue);
}

.file-input-container .bordered-input {
    border-style: dashed;
}

.desc-container .bordered-input {
    display: block;
    height: 100px;
    width: 100%;
    margin: 10px 0 0;
    padding: 8px;
    font-size: 14px;
    font-family: var(--font-secondary);
    columns: 50;
    border: 1.7px solid var(--color-dark-blue);
    border-radius: var(--border-radius-16);
    resize: none;
}

.bordered-input:hover {
    box-shadow: 0 2px 10px rgba(80, 130, 133, 0.5);
    cursor: pointer;
}

.bordered-input:focus, .desc-container .bordered-input:focus {
    outline: var(--color-electric-blue);
    border: 1.7px solid var(--color-electric-blue);
    border-radius: var(--border-radius-16);
}

.file-input-container .bordered-input:focus {
    outline: var(--color-electric-blue);
    border: 1.7px dashed var(--color-electric-blue);
    border-radius: var(--border-radius-16);
}


.small-link {
    display: flex;
    position: relative;
    height: fit-content;
    width: fit-content;
    margin: auto;
    font-size: 0.8rem;
    font-weight: normal;
    font-family: var(--font-secondary);
    color: var(--color-dark-blue);
    text-align: justify;
    text-decoration: underline;
    cursor: pointer;
}

.login-account-fieldset .small-link{
    margin: auto 5%;
    color: var(--color-lighter-blue);
    font-style: oblique;
}

.action-container .small-link {
    width: 45%;
    margin: auto auto auto 0;
    color: var(--color-dark-blue);
    font-style: normal;
    justify-content: center;
    align-content: center;
}

.add-button,
.delete-button,
.edit-button,
.action-button {
    display: block;
    height: auto;
    width: 60%;
    margin: auto;
    padding: 15px 30px;
    text-align: center;
    font-size: 16px;
    font-family: var(--font-secondary);
    color: var(--color-white);
    background-color: var(--color-darker-blue);
    border-style: solid;
    border-color: var(--color-darker-blue);
    border-radius: var(--border-radius-16);
    cursor: pointer;
}

.action-button {
    width: fit-content;
}
.action-button:hover {
    background-color: var(--color-lighter-blue);
    border-color: var(--color-lighter-blue);
}

.add-button,
.delete-button,
.edit-button  {
    margin: auto auto auto 0;
}

.add-button {
    background-color: var(--color-success);
    border-color: var(--color-success);
}

.delete-button {
    background-color: var(--color-danger);
    border-color: var(--color-danger);
}

.edit-button {
    background-color: var(--color-neutral);
    border-color: var(--color-neutral);
}

.add-button:hover,
.delete-button:hover,
.edit-button:hover {
    opacity: 70%;
}

.login-account-section .action-button,
.create-account-section .action-button {
    width: 55%;
    margin: auto 0 auto auto;
}

.product-container {
    margin: 4% auto;
    padding: 4%;
    background-color: var(--color-white);
    border-radius: var(--border-radius-24);
    border: 2px solid var(--color-light-grey);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 480px) {
    .art-item {
        width: 68%;
        max-width: 68%;
        min-width: 68%;
        padding: 4%;
    }

    .profile-section,
    .product-section,
    .create-account-form, 
    .login-account-form {
        width: 90%;
        max-width: 90%;
        margin: 7% auto;
    }

    .create-product-form {
        width: auto;
        margin: 7% 0;
    }

    .product {
        margin: 5%;
    }

    .add-button,
    .delete-button,
    .edit-button {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    nav { 
        padding: 3% 5%;
    }

    .search-bar-input-container {
        width: 80%;
        height: 70%;
        margin: auto auto 0.3rem auto;
    }

    .search-bar-input {
        font-size: 16px;
    }

    .svg-logo  {
        height: 4vh;
        margin: auto;
    }

    .nav-button-bar {
        gap: 0;
    }
    
    .account-button,
    .cart-button,
    .menu-button,
    .search-button {
        height: 2.5rem;
        width: 2.5rem;
        margin: 0.5rem;
        flex: 0 1 2.5rem;
    }

    .best-selling-art, .new-art, .seasonal-art, .search-art {
        margin: 6% auto 3% auto;
    }
    
    .home-subtitle,
    .error-title,
    .best-selling-art-title,
    .new-art-title,
    .product-title,
    .seasonal-art-title,
    .search-art-title {
        font-size: 1.2rem;
    }

    .home-title {
        font-size: 1.6rem;
    }

    .search-art-subtitle {
        font-size: 0.8rem;
        padding: 0 0 280px 0;
    }

    .next-element-button::before,
    .previous-element-button::before {
        font-size: 2.2em;
    }

    .new-art-item-container,
    .best-selling-art-item-container,
    .seasonal-art-item-container {
        border-width: 1em 1.5em;
    }

    .art-desc-container {
        max-width: calc(100%);
    }

    .art-desc-container,
    .art-item {
        gap: 4px;
    }

    .art-item-image-container {
        height: 10vh;
    }

    .error-desc,
    .home-desc,
    .art-desc,
    .art-price {
        font-size: 1rem;
    }

    .shipping-info-banner {
        display: grid;
        font-size: 0.8rem;
        text-align: left;
        margin: auto auto 8% auto;
        padding: 4%;
        justify-content: center;
    }

    .info-banner-statement {
        margin: auto;
    }

    .banner-text {
        justify-content: center;
    }

    .return-icon,
    .shipping-icon,
    .star-review-icon {
        height: 1.6rem;
    }   

    .footer-links-bar {
        justify-content: space-between;
    }

    .footer-links-bar ul li a {
        font-size: 0.8rem;

    }

    .footer-brand-links-bar {
        grid-template-rows: 1fr 4fr;
    }

    .social-media-links {
        flex-direction: column;
        align-items: center;
    }

    .social-media-links .instagram-button, 
    .social-media-links .youtube-button {
        height: 1.8rem;
        width: 1.8rem;
    }

    .about-links-container h4,
    .help-links-container h4,
    .store-links-container h4 {
        font-size: 1rem;
        margin: 0 0 2% 0;
    }

    .copyright-content {
        font-size: 0.7rem;
    }

    .action-container {
        gap: 1rem;
    }
    .create-account-button, .login-account-button {
        width: 50%;
        margin: 20px auto;
        padding: 15px;
        font-size: 14px;
    }

    .product-container {
        padding: 6%;
    }
}
@media only screen and (min-width: 481px) and (max-width: 800px) {
    .art-item {
        width: 35%;
        max-width: 35%;
        min-width: 35%;
        padding: 2.5%;
    }
}
@media only screen and (max-width: 1200px) {
    .menu-button {
        position: relative;
        display: inline;
        z-index: 70;
    }

    .nav-link-list {
        position: fixed;
        display: flex;
        top: 0;
        left: 0;
        height: 100%;
        width: auto;
        padding: 20% 0 0 0;
        margin: auto;
        flex-direction: column;
        justify-content: flex-start;
        color: var(--color-dark-blue);
        background-color: var(--color-white);
        border-color: var(--color-lighter-grey);
        border-style: solid;
        border-width: 0 2px 0 0;
        z-index: 30;
        transform: translateX(-100%);
    }

    .nav-link-list li:first-child,
    .nav-link-list li:last-child {
        border-radius: 0;
    }

    .nav-link-list li {
        display: flex;
        flex: 0 1 0;
        width: 100%;
    }
    .nav-link-list li a {
        color: var(--color-dark-blue);
        font-size: 1em;
        text-align: left;
    }
    
    .nav-link-sub-list li a {
        color: var(--color-dark-blue);
        font-size: 0.8em;
    }
    .menu-toggle:checked ~ nav .nav-link-list {
        overflow: visible;
        transform: translateX(0);
        background-color: var(--color-white);
    }
    .menu-toggle:checked ~ nav .menu-button {
        background-color: transparent;
    }

    .nav-link-sub-list {
        transform: translate(96%);
        border-width: 1px;
        transition: transform 0.2s ease-in;
        z-index: 35;
    }

    .art-item-image-container {
        height: 12vh;
    }
}
