:root {
    --color-white: #FFFFFF;
    --color-light-grey: #d5d5d5;
    --color-lighter-grey: #f1f1f1;
    --color-darker-blue: #062E32;
    --color-dark-blue: #16464B;
    --color-lighter-blue: #508285;
    --color-coral: #DD6A6A;
    --color-light-coral: #E79696;
    --color-electric-blue: #44D5E5;
    --color-wine-red: #C50000;

    --font-main: Verdana, sans-serif;
    --font-secondary: Geneva, sans-serif;

    --border-radius-4: 4px;
    --border-radius-8: 8px;
    --border-radius-16: 16px;
    --border-radius-24: 24px;
    --border-radius-32: 32px;
    --border-radius-50: 50px;
}

/*
@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url("../Fonts/Montserrat.ttf") format('truetype');;
}

@font-face {
    font-family: 'Roboto', sans-serif;
    src: url("../Fonts/Roboto.ttf") format('truetype');
}
*/

@import "tailwindcss";

@plugin "daisyui" {
    themes: light --default;
    root: ":root";
    include:;
    exclude:;
    prefix:;
    logs: true;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    color: var(--color-white);
    background-color: var(--color-dark-blue);
}

body {
    display: flex;
    height: auto;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    flex: 1 1 0;
    align-items: center;
    justify-items: center;
    overflow-X: hidden;
    background-color: var(--color-white);
    background-image: url("../Public/Images/yarnBackgroundTexture.svg");
    background-size: auto;
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
}

header {
    position: sticky;
    z-index: 50;
    display: block;
    width: 100%;
    height: auto;
    top: 0;
    background-color: var(--color-dark-blue);
}

nav {
    position: relative;
    display: flex;
    height: auto;
    width: auto;
    margin: auto;
    padding: 1.3% 10%;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: var(--color-dark-blue);
    justify-content: space-evenly;
    align-content: center;
}

.menu-toggle {
    display: none;
}

.menu-button {
    position: absolute;
    display: none;
    height: 3rem;
    width: 3rem;
    margin: auto auto auto 0;
    flex: 0 1 3rem;
    background-color: var(--color-white);
    border-style: none;
    border-radius: var(--border-radius-50);
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

.search-bar-container-hidden {
    display: none;
    margin: auto;
    height: 12vh;
    width: 100%;
    justify-content: center;
    align-content: center;
    background-color: var(--color-dark-blue);
}

.search-bar-container-visible {
    position: absolute;
    display: flex;
    margin: auto;
    height: 12vh;
    width: 100%;
    justify-content: center;
    background-color: var(--color-dark-blue);
    z-index: 75;
}

.search-bar-input-container {
    position: relative;
    display: flex;
    height: auto;
    width: 40%;
    margin: auto;
    padding: 0.5rem;
    justify-content: center;
    background-color: var(--color-white);
    border-radius: var(--border-radius-16);
}

.search-bar-button {
    display: inline;
    height: 2rem;
    width: auto;
    margin: auto;
    background-color: var(--color-white);
    border-style: none;
    vertical-align: middle;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.close-button {
    display: inline;
    height: 2rem;
    width: auto;
    margin: auto;
    background-color: var(--color-white);
    border-style: none;
    vertical-align: middle;
    cursor: pointer;
}
.close-button:hover,
.search-bar-button:hover {
    opacity: 70%;
}

.close-button img,
.search-bar-button img {
    display: inline;
    height: 100%;
    width: 100%;
    margin: auto;
}

.search-bar-input {
    position: relative;
    display: inline;
    height: auto;
    width: 80%;
    padding: 0.5rem;
    border-style: none;
    color: var(--color-darker-blue);
    font-size: 18px;
}
.search-bar-input:hover {
    border-style: none;
    border-radius: var(--border-radius-8);
    box-shadow: 2px 2px 2px var(--color-light-grey);
    cursor: pointer;
}
.search-bar-input:focus {
    outline: none;
    border-style: none;
}

.svg-logo {
    position: relative;
    display: inline;
    flex: 0 1 auto;
    height: 12vh;
    width: auto;
    margin: auto auto auto 0;
    align-self: center;
}
.svg-logo:hover {
    opacity: 70%;
    cursor: pointer;
}

.svg-logo img {
    display: inline;
    margin: auto;
    height: inherit;
    width: inherit;
    max-width: inherit;
    max-height: inherit;
    object-fit: cover;
    image-rendering: auto;
}

.nav-button-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex: 0 1 0;
    width: auto;
    margin: 0 0 0 auto;
    justify-content: flex-end;
}

.search-button {
    height: 3rem;
    width: 3rem;
    margin: 1rem;
    flex: 0 1 3rem;
    background-color: var(--color-white);
    border-style: none;
    border-radius: var(--border-radius-50);
    cursor: pointer;
}

.account-button {
    display: inline;
    height: 3rem;
    width: 3rem;
    margin: 1rem;
    flex: 0 1 3rem;
    background-color: var(--color-white);
    border-style: none;
    border-radius: var(--border-radius-50);
    cursor: pointer;
}

.cart-button {
    height: 3rem;
    width: 3rem;
    margin: 1rem;
    flex: 0 1 3rem;
    background-color: var(--color-white);
    border-style: none;
    border-radius: var(--border-radius-50);
    cursor: pointer;
}

.account-button img,
.cart-button img,
.menu-button img,
.search-button img {
    display: block;
    height: 90%;
    width: auto;
    margin: auto;
}
.account-button:hover,
.cart-button:hover,
.search-button:hover {
    background-color: var(--color-lighter-grey);
}

.nav-link-list {
    display: flex;
    flex: 2 1 0;
    overflow: hidden;
    list-style: none;
    margin: auto;
    width: auto;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
}

.nav-link-sub-list {
    display: none;
    overflow: hidden;
    list-style: none;
    flex: 2 1 0;
    margin: auto;
    width: 10rem;
    max-width: 10rem;
    min-width: 10rem;
    justify-items: center;
    align-items: center;
    background-color: var(--color-white);
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: var(--color-light-grey);
    border-radius: var(--border-radius-4);
}

.nav-link-list li {
    display: inline;
    height: auto;
    width: 10rem;
    max-width: 10rem;
    min-width: 10rem;
    flex: 0 1 5rem;
    text-align: center;
    align-self: center;
}

.nav-link-sub-list li {
    display: block;
    flex: 1 1 0;
    text-align: left;
    align-self: center;
    width: auto;
    background-color: var(--color-white);
    border-width: 2px 0 0 0;
    border-style: solid;
    border-color: var(--color-lighter-grey);
}
.nav-link-sub-list li:hover {
    background-color: var(--color-lighter-grey);
    cursor: pointer;
}

.nav-link-list li a {
    display: block;
    padding: 1rem 1.2rem;
    color: var(--color-white);
    font-size: 1.4rem;
    font-family: var(--font-main);
    cursor: pointer;
}

.nav-link-sub-list li a {
    display: inline-block;
    color: var(--color-dark-blue);
    font-size: 1rem;
    font-weight: bold;
    font-family: var(--font-secondary);
    cursor: pointer;
}
.nav-link-list li a:hover,
.nav-link-sub-list li a:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.08rem;
}
li:hover .nav-link-sub-list {
    /*menú popup que aparece*/
    display: flex;
    position: absolute;
    z-index: 100;
    flex-direction: column;
}

.nav-decoration-line {
    height: 1rem;
    width: 100%;
    clear: both;
    background-color: var(--color-coral);
}
.separation-line {
    height: 1rem;
    width: 100%;
    clear: both;
    background-color: var(--color-white);
}

/*-------------CAROUSEL-------------*/
.best-selling-art,
.new-art,
.seasonal-art {
    display: flex;
    height: 100%;
    width: 95%;
    flex-direction: column;
    flex: 1 1 0;
    text-align: center;
}

.best-selling-art-title,
.create-account-fieldset legend,
.new-art-title,
.seasonal-art-title {
    display: inline;
    height: auto;
    margin: 2em auto 1em;
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
    font-family: var(--font-main);
    color: var(--color-dark-blue);
}

.best-selling-art-carousel,
.new-art-carousel,
.seasonal-art-carousel {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0 auto 1em;
    flex-direction: row;
    flex: 1 1 0;
    align-items: center;
    justify-content: space-evenly;
    overflow: visible;
    transform-style: flat;
}

.next-element-button-container,
.previous-element-button-container {
    display: flex;
    position: relative;
    height: 15%;
    width: auto;
    margin: auto;
    overflow: visible;
}

.next-element-button,
.previous-element-button {
    height: 100%;
    width: 100%;
    background-color: transparent;
    border-style: none;
    cursor: pointer;
}

.next-element-button::before,
.previous-element-button::before {
    display: flex;
    height: 100%;
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
    font-size: 3.2em;
    font-weight: bold;
    color: var(--color-darker-blue);
}

.previous-element-button::before {
    content: "<";
}

.next-element-button::before {
    content: ">";
}
.next-element-button:hover,
.previous-element-button:hover {
    opacity: 70%;
    cursor: pointer;
}

.best-selling-art-item-container,
.new-art-item-container,
.seasonal-art-item-container {
    position: relative;
    display: flex;
    overflow-x: scroll;
    height: 100%;
    width: 90%;
    margin: auto;
    padding: 1% 1% 1% 0;
    border-width: 0.5em 1.5em;
    border-style: solid;
    align-items: start;
    flex-direction: row;
    flex: 2 1 0;
    gap: 1.5em;
    justify-content: start;
}

.new-art-item-container {
    background-color: var(--color-light-grey);
    border-radius: var(--border-radius-24);
    border-color: var(--color-light-grey);
}

.best-selling-art-item-container {
    background-color: var(--color-coral);
    border-radius: var(--border-radius-24);
    border-color: var(--color-coral);
}

.seasonal-art-item-container {
    background-color: var(--color-electric-blue);
    border-radius: var(--border-radius-24);
    border-color: var(--color-electric-blue);
}

/*-------------PRODUCT-------------*/
.art-item {
    position: relative;
    display: flex;
    height: 100%;
    width: 18%;
    max-width: 18%;
    min-width: 18%;
    overflow: visible;
    grid-template-columns: 1fr;
    grid-template-rows: 50% 50%;
    justify-items: center;
    text-align: center;
    padding: 1.5% 1.5% 2.2% 1.5%;
    gap: 0.5rem;
    background-color: var(--color-white);
    border-style: solid;
    border-color: var(--color-dark-blue);
    border-radius: var(--border-radius-16);
}

.art-item-image-container {
    position: relative;
    display: flex;
    height: 15vh;
    width: auto;
    overflow: hidden;
}

.art-item-image-container img,
.art-product-image-container img {
    display: inline;
    margin: auto;
    height: inherit;
    width: inherit;
    max-width: inherit;
    max-height: inherit;
    flex: 0 1 0;
    object-fit: cover;
    border-radius: var(--border-radius-24);
    image-rendering: auto;
}
.art-item img:hover {
    opacity: 70%;
    cursor: pointer;
}

.art-desc-container {
    width: 100%;
    max-width: calc(100%);
}

.art-desc {
    position: relative;
    display: flex;
    margin: auto;
    width: auto;
    overflow: visible;
    overflow-wrap: break-word;
    text-align: justify;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: var(--font-secondary);
    color: var(--color-dark-blue);
    cursor: pointer;
}

.art-price {
    display: flex;
    position: relative;
    margin: auto;
    width: fit-content;
    font-size: 1.2rem;
    font-weight: normal;
    font-family: var(--font-secondary);
    color: var(--color-dark-blue);
    text-align: center;
    cursor: pointer;
}

.art-desc::first-letter,
.art-price::first-letter {
    text-transform: capitalize;
}
.art-desc:hover,
.art-price:hover {
    text-decoration: underline;
    text-decoration-color: var(--color-dark-blue);
    text-decoration-thickness: 0.1rem;
    cursor: pointer;
}

.carousel-indicator {
    margin: auto auto 1em;
}

/*-------------BANNER-------------*/
.shipping-info-banner {
    display: flex;
    height: fit-content;
    width: 100%;
    padding: 2%;
    align-items: center;
    justify-content: space-evenly;
    background-image: linear-gradient(to bottom, var(--color-wine-red), var(--color-wine-red), var(--color-coral));
    color: var(--color-white);
    font-family: var(--font-secondary);
    font-size: 1.2rem;
    text-align: justify;
    gap: 2%;
}

.info-banner-statement {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.return-icon,
.shipping-icon,
.star-review-icon {
    display: flex;
    height: 2.2rem;
    width: auto;
    margin: auto 0.5rem auto 0;
}

.banner-text {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
}

.return-icon img,
.shipping-icon img,
.star-review-icon img {
    height: auto;
    width: auto;
}

footer {
    height: auto;
    width: 100%;
    max-width: 100%;
    background-color: var(--color-white);
}

.footer-links-bar {
    display: flex;
    height: auto;
    width: 100%;
    margin: auto;
    padding: 1rem;
    background-color: var(--color-white);
    border-color: var(--color-light-grey);
    border-style: solid;
    border-width: 3px 0 0 0;
    align-items: flex-start;
    justify-content: space-evenly;
}

.about-links-container,
.help-links-container,
.store-links-container {
    display: flex;
    flex-direction: column;
    height: max-content;
    width: auto;
    margin: 0;
    flex: 1 1 0;
    justify-content: center;
    align-content: center;
}

.about-links-container h4,
.help-links-container h4,
.store-links-container h4 {
    display: block;
    padding: 0.5rem;
    color: var(--color-darker-blue);
    flex: 1 2 0;
    text-align: left;
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-family: var(--font-main);
    line-height: 10px;
    border-bottom-color: var(--color-darker-blue);
    width: fit-content;
    margin: auto auto 2% 25%;
}

.about-list,
.help-list,
.store-list {
    display: block;
    list-style: none;
    width: fit-content;
    margin: auto;
}

.about-list li,
.help-list li,
.store-list li {
    display: grid;
    margin: auto;
    padding: 0.5rem;
    flex: 1 1 0;
}

.footer-links-bar ul li a {
    display: block;
    color: var(--color-darker-blue);
    font-size: 1.2rem;
    font-family: var(--font-main);
    line-height: 1.2rem;
    cursor: pointer;
}
.footer-links-bar ul li a:hover {
    text-decoration: underline;
    text-decoration-thickness: 1.2px;
    text-decoration-color: var(--color-darker-blue);
}

.footer-brand-links-bar {
    display: flex;
    height: auto;
    width: auto;
    padding: 0.3rem 0;
    background-color: var(--color-dark-blue);
    justify-content: center;
    align-items: center;
}

.footer-brand-links-bar .svg-logo {
    display: inline;
    height: 4rem;
    width: auto;
    margin: auto auto auto 5%;
    cursor: pointer;
}

.social-media-links {
    display: flex;
    height: auto;
    width: auto;
    margin: auto 5% auto auto;
}

.social-media-links .instagram-button,
.social-media-links .youtube-button {
    display: flex;
    height: 2.2rem;
    width: 2.2rem;
    margin: 1.5rem;
    background-color: var(--color-white);
    border-style: none;
    border-radius: var(--border-radius-24);
    cursor: pointer;
}
.instagram-button:hover,
.youtube-button:hover {
    background-color: var(--color-lighter-grey);
}

.youtube-button img {
    height: 65%;
    width: auto;
    margin: auto;
}

.instagram-button a {
    height: 65%;
    width: auto;
    margin: auto;
}

.instagram-button a img {
    height: 100%;
    width: auto;
    margin: auto;
}

.footer-copyright-content {
    display: flex;
    height: auto;
    width: auto;
    padding: 1rem;
    background-color: var(--color-darker-blue);
    border-color: var(--color-lighter-blue);
    border-style: solid;
    border-width: 2px 0 0 0;
    text-align: right;
    justify-content: right;
}

.footer-copyright-content small {
    color: var(--color-white);
    font: var(--font-secondary);
    font-size: 1rem;
    width: 100%;
}

.create-account-section {
    height: auto;
    width: 100%;
    padding: 2%;
}

.create-account-form {
    display: flex;
    height: auto;
    width: 40%;
    margin: 0 auto 1% auto;
    border-style: none;
    background-color: var(--color-white);
    border-style: solid;
    border-color: var(--color-dark-blue);
    border-width: 2.5px;
    border-radius: var(--border-radius-24);
}

.create-account-fieldset {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    max-width: 100%;
    border-style: none;
    text-align: justify;
}

.create-account-fieldset legend {
    z-index: 1;
    margin: auto;
    padding: 10px;
    height: auto;
    width: 100%;
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: var(--color-dark-blue);
    text-align: center;
    justify-content: center;
}

.create-account-fieldset legend::before {
    content: "🧶";
}

.age-range-container,
.desc-container,
.email-input-container,
.name-input-container,
.password-input-container,
.techniques-options-container {
    display: block;
    margin: 15px 5%;
    height: auto;
    width: auto;
    text-align: justify;
}

.create-account-fieldset label {
    display: flex;
    height: auto;
    width: 100%;
    margin: auto;
    text-align: justify;
    font-size: 14px;
    font-family: var(--font-secondary);
    color: var(--color-dark-blue);
}

.create-account-fieldset input {
    display: flex;
    width: 100%;
    margin: 5px 0 10px;
    padding: 8px;
    border: 1.7px solid var(--color-dark-blue);
    border-radius: var(--border-radius-16);
    font-size: 12px;
}
.create-account-fieldset input:hover {
    box-shadow: 2px 2px 4px var(--color-lighter-blue);
    cursor: pointer;
}
.create-account-fieldset input:focus {
    outline: var(--color-electric-blue);
    border: 1.7px solid var(--color-electric-blue);
    border-radius: var(--border-radius-16);
}

.desc-container textarea {
    display: block;
    height: 100px;
    width: 100%;
    margin: 10px 0 0;
    padding: 8px;
    font-size: 12px;
    font-family: var(--font-secondary);
    columns: 50;
    border: 1.7px solid var(--color-dark-blue);
    border-radius: var(--border-radius-16);
    resize: none;
}
.desc-container textarea:focus {
    outline: var(--color-electric-blue);
    border: 1.7px solid var(--color-electric-blue);
    border-radius: var(--border-radius-16);
}
.desc-container textarea:hover {
    box-shadow: 2px 2px 4px var(--color-lighter-blue);
    cursor: pointer;
}

.techniques-options-container select {
    height: auto;
    width: 100%;
    margin: 5px 0 0;
    padding: 8px;
    color: var(--color-darker-blue);
    border: 2px solid var(--color-dark-blue);
    border-radius: var(--border-radius-16);
    font-size: 12px;
}
.techniques-options-container select:focus {
    outline: var(--color-electric-blue);
    border: 1.7px solid var(--color-electric-blue);
    border-radius: var(--border-radius-16);
}
.techniques-options-container select:hover {
    box-shadow: 2px 2px 4px var(--color-lighter-blue);
    cursor: pointer;
}

.create-account-form button {
    display: block;
    height: auto;
    width: auto;
    margin: 20px auto;
    padding: 15px 30px;
    text-align: justify;
    font-size: 16px;
    font-family: var(--font-secondary);
    color: var(--color-white);
    background-color: var(--color-darker-blue);
    border-style: solid;
    border-color: var(--color-darker-blue);
    border-radius: var(--border-radius-16);
}
.create-account-form button:hover {
    background-color: var(--color-lighter-blue);
    border-color: var(--color-lighter-blue);
}

.art-product-image-container {
    position: relative;
    display: flex;
    height: 70vh;
    width: auto;
    overflow: hidden;
}

.product {
    height: auto;
    width: auto;
    margin: 2%;
    background-color: var(--color-white);
    color: var(--color-dark-blue);
}
@media only screen and (max-width: 480px) {
    .search-bar-container-visible {
        height: 6vh;
    }

    .search-bar-input-container {
        width: 80%;
    }

    nav .svg-logo {
        height: 4vh;
        margin: auto;
    }

    .art-item {
        width: 68%;
        max-width: 68%;
        min-width: 68%;
        padding: 4%;
    }

    .copyright-content {
        font-size: 0.5rem;
    }

    .create-account-form {
        width: 80%;
        max-width: 80%;
        margin: 2% auto 7% auto;
    }

    .product {
        margin: 5%;
    }
}
@media only screen and (max-width: 768px) {
    .search-bar-container-visible {
        height: 8vh;
    }

    .search-bar-input-container {
        width: 60%;
    }

    nav .svg-logo {
        height: 6vh;
        margin: auto;
    }

    .account-button,
    .cart-button,
    .menu-button,
    .search-button {
        height: 2.5rem;
        width: 2.5rem;
        margin: 0.5rem;
        flex: 0 1 2.5rem;
    }

    .best-selling-art-title,
    .new-art-title,
    .seasonal-art-title {
        font-size: 1.4rem;
    }

    .art-item-image-container {
        height: 10vh;
    }

    .art-desc,
    .art-price {
        font-size: 1rem;
    }

    .shipping-info-banner {
        display: grid;
        font-size: 0.8rem;
        text-align: left;
    }

    .return-icon,
    .shipping-icon,
    .star-review-icon {
        height: 1.6rem;
    }   

    .footer-links-bar ul li a {
        font-size: 0.8rem;

    }

    .about-links-container h4,
    .help-links-container h4,
    .store-links-container h4 {
        font-size: 1rem;
        margin: 0 0 2% 0;
    }

    .copyright-content {
        font-size: 1rem;
    }
}
@media only screen and (min-width: 500px) and (max-width: 800px) {
    .art-item {
        width: 35%;
        max-width: 35%;
        min-width: 35%;
        padding: 2.5%;
    }
}
@media only screen and (max-width: 1200px) {
    nav {
        padding: 3% 5%;
    }

    .search-bar-container-visible {
        height: 10vh;
    }

    nav .svg-logo {
        height: 8vh;
        margin: auto;
    }

    .menu-button {
        position: relative;
        display: inline;
        z-index: 70;
    }

    .nav-link-list {
        position: fixed;
        display: flex;
        top: 0;
        left: 0;
        height: 100%;
        width: auto;
        padding: 20% 0 0 2%;
        margin: auto;
        flex-direction: column;
        justify-content: flex-start;
        color: var(--color-dark-blue);
        background-color: var(--color-white);
        z-index: 30;
        transform: translateX(-100%);
    }

    .nav-link-list li a {
        color: var(--color-dark-blue);
        font-size: 1em;
        text-align: left;
    }

    .nav-link-sub-list li a {
        color: var(--color-dark-blue);
        font-size: 0.8em;
    }
    .menu-toggle:checked ~ nav .nav-link-list {
        overflow: visible;
        transform: translateX(0);
        background-color: var(--color-white);
    }
    .menu-toggle:checked ~ nav .menu-button {
        background-color: transparent;
    }

    .nav-link-sub-list {
        transform: translate(82%, -20%);
        border-width: 1px;
        transition: transform 0.2s ease-in;
        z-index: 35;
    }

    .art-item-image-container {
        height: 12vh;
    }
}
